@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  background-image: linear-gradient(
    to bottom,
    #051937,
    #003049,
    #00454e,
    #1a5a4b,
    #4f6b47
  );
  color: white;
}

.text-shadow-black {
  text-shadow: -2px 4px 8px rgba(101, 210, 118, 0.82);
}